.pallet-page-heading {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 8vh;
}
.pallet-page-content {
    display: flex;
    flex-wrap: wrap;
    height: 72vh;
}
