.list-container {
    width: 270px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.list-container__title {
    background-color: #000000;
    text-align: center;
    line-height: 7vh;
    border-radius: 4px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
.list-container__title:active {
    transform: scale(60%);
}
.list-container-animation {
    position: absolute;
    top: 170px;
    width: 270px;
    z-index: 100;
}
.list-container__options {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
}
