/* OptionList style start */

.list-container {
    width: 270px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.list-container__title {
    background-color: #000000;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}
.list-container__options {
    position: absolute;
    top: 160px;
    width: 270px;
    z-index: 100;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
}

/* OptionList style end */
