.footer {
    box-sizing: border-box;
    height: 10vh;
    line-height: 10vh;
    font-size: 12px;
}
.footer-layout {
    position: fixed;
    top: 90%;
    width: 100%;
}
.footer__info {
    float: right;
}
